html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $main-font;
  color: $off-white;
  background-color: $black;
  font-size: $base-font-size;
}

a {
  text-decoration: none;
  color: $off-white;
}

img {
  width: 100%;
  height: auto;
}
