.container {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1.5rem;

  .content {
    width: 648px;
  }

  .sidebar {
    width: 312px;
    background: $off-black;
    border-radius: .3125rem .3125rem .25rem .25rem;
    padding: .75rem;
    margin-left: 1.5rem;
    height: 500px;
    position: sticky;
    top: 1rem;

    h3 {
      font-size: $base-font-size;
      margin-top: .5rem;
    }

  }

}
