.post {
  background: $off-black;
  border: 1px solid $dark-grey;
  margin-bottom: 0.625rem;
  border-radius: 4px;
  padding: 0.5rem;

  &:first-child {
    display: none;
  }

}


.stuff {
  display: none;

  &.show {
    display: block;
  }
}
